@page "/About"

<h1>APS360 Team - The Cold Start Problem</h1>


<h3>Team Members</h3>
<ul>
    <li>
        Aaron Kammula (1002420882)
    </li>
    <li>
        Chaojian Zhang (1000865361)
    </li>
    <li>
        Jeremy Mainella (1006016936)
    </li>
    <li>
        Jin Jiang Li (1002301671)
    </li>
</ul>