@page "/How"

<h3 class="text-center">How it works</h3>

<p class="text-center">The program will detect the various objects present in a photo.</p>

<ul class="text-center">
    <li class="text-center">Upload your photo.</li>
    <li class="text-center">The network runs its magic.</li>
    <li class="text-center">Various objects are identified.</li>
</ul>

<p class="text-center">In particular, the following four kinds of animals are further identified for their species: 1) Cats, 2) Dogs, 3) Horses, 4) Flowers.</p>

<img src="/images/architecture.png" class="mx-auto d-block img-fluid" />