darknet/
darknet/*
temp/
temp/*
cats/
cats/*
flowers/
flowers/*
horses/
horses/*
cats_and_dogs/
cats_and_dogs/*
venv/
venv/*
.ipynb_checkpoints/
.ipynb_checkpoints/*
tempoutput/
tempoutput/*
__pycache__/
__pycache__/*
train_val_acc.png
training_loss.png
work/
work/*